@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap");
.seller-app {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    padding-top: 56px;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
/* .seller-app .container-xl{
    max-width: 1320px !important;
} */
.seller-app .app-card-doc .app-card-thumb-holder .icon-holder {
    font-size: 40px;
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    padding-top: 10px;
}
.seller-app a {
    color: #15a362;
    text-decoration: none;
}


.seller-app .text-body-2 {
    font: 400 14px/22px "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e87856;
}

  svg.svg-inline--fa.fa-search.fa-w-16.position-absolute {
    margin-top: 10px;
    margin-left: 10px;
}
.seller-app .bg-success {
    background-color: #5cb377 !important;
}
.seller-app .bg-danger {
    background-color: #d26d69 !important;
}
.seller-app .bg-warning {
    background-color: #eebf41 !important;
}
.seller-app h1 .h1 {
    color: #252930;
    font-weight: 600;
}
.seller-app h2 .h2 {
    color: #252930;
    font-weight: 600;
}
.seller-app h3 .h3 {
    color: #252930;
    font-weight: 600;
}
.seller-app h4 .h4 {
    color: #252930;
    font-weight: 600;
}
.seller-app h5 .h5 {
    color: #252930;
    font-weight: 600;
}
.seller-app h6 .h6 {
    color: #252930;
    font-weight: 600;
}

.seller-app a {
    color: #15a362;
    text-decoration: none;
}

.seller-app a:hover {
    color: #128c54;
}

.seller-app hr {
    background: #adb4c0;
}
.seller-app .h50vh {
    height: 50vh;
}
.seller-app .flex-width-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-app .text-muted {
    color: #9fa7b5 !important;
}

.table-dark {
    background: #252930;
    color: #fff;
}

.seller-app .table-bordered th,
.table-bordered td {
    border-color: #e7e9ed;
}

.seller-app .table th,
.table td {
    border-color: #e7e9ed;
}

.seller-app .table thead th {
    border-color: #e7e9ed;
}

.seller-app .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.seller-app .table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #515a6a;
}

.seller-app .table-hover > tbody > tr:hover {
    background-color: #fff;
}

.seller-app .popover {
    border-color: #dee1fc;
}

.seller-app .bs-popover-left > .arrow::before,
.bs-popover-auto[x-placement^="left"] > .arrow::before {
    border-left-color: #dee1fc;
}

.seller-app .bs-popover-right > .arrow::before,
.bs-popover-auto[x-placement^="right"] > .arrow::before {
    border-right-color: #dee1fc;
}

.seller-app .bs-popover-top > .arrow::before,
.bs-popover-auto[data-popper-placement^="top"] > .arrow::before,
.bs-popover-auto[x-placement^="top"] > .arrow::before {
    border-top-color: #dee1fc;
}

.seller-app .bs-popover-bottom > .arrow::before,
.bs-popover-auto[data-popper-placement^="bottom"] > .arrow::before,
.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
    border-bottom-color: #dee1fc;
}

.seller-app a.app-link {
    color: #252930;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(37, 41, 48, 0.3);
    text-decoration-color: rgba(37, 41, 48, 0.3);
}

.seller-app a.app-link:hover {
    color: #15a362;
    -webkit-text-decoration-color: rgba(21, 163, 98, 0.8);
    text-decoration-color: rgba(21, 163, 98, 0.8);
}

.seller-app button.close:focus {
    outline: none;
    box-shadow: none;
}

.seller-app .btn {
    font-weight: 400;
    padding: 0.4rem 1rem;
    font-size: 0.875rem;
    border: none;
}

.seller-app .btn:hover,
.btn:active,
.btn:focus {
    text-decoration: none;
}

.seller-app .btn .bi {
    position: relative;
    top: -2px;
}

.seller-app .btn:focus,
.btn.focus {
    box-shadow: none !important;
}

.seller-app .app-btn-primary {
    background: #15a362;
    color: #fff;
    border-color: #15a362;
    font-weight: 400;
}

.seller-app .app-btn-primary:hover {
    color: #fff;
    background: #18ba70;
    border-color: #18ba70;
}

.seller-app .app-btn-secondary {
    background: #fff;
    color: #5d6778;
    border: 1px solid #bcc1cb;
}
  .app-btn-secondary {
    background: #fff;
    color: #5d6778;
    border: 1px solid #bcc1cb;
}

.seller-app .app-btn-secondary:hover {
    color: #15a362;
    border: 1px solid #15a362;
    background: #fff;
}

.seller-app .btn-light {
    background: #f5f6fe;
    color: #15a362;
}

.seller-app .btn-light:hover {
    background: #f5f6fe;
    color: #15a362;
}

.seller-app .form-control {
    /* padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    height: 2.5rem; */
    border-color: #e7e9ed;
    color: #5d6778;
}

.seller-app .form-control:focus {
    box-shadow: none;
    outline: none;
    color: #5d6778;
}

.seller-app .form-check-input:checked {
    background-color: #15a362;
    border-color: #15a362;
}

.seller-app .form-select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle !important;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.seller-app .dropdown-menu {
    border-color: #e7e9ed;
}

.seller-app .dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
}
.seller-app .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.seller-app .dropdown-menu .dropdown-item:hover {
    color: #252930;
}

.seller-app .dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background: #fafbff;
}

.seller-app .dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background: #fafbff;
}

.seller-app .dropdown-divider {
    border-top-color: #e7e9ed;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.seller-app .dropdown-toggle.no-toggle-arrow:after {
    display: none !important;
}

.seller-app .app-header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e7e9ed;
    height: 56px;
    background: #fff;
}

.seller-app .app-header-inner {
    position: relative;
}

.seller-app .app-search-form {
    position: relative;
    max-width: 600px;
}

.seller-app .app-search-form .search-input {
    font-size: 0.875rem;
    border-radius: 0.25rem;
    padding-right: 3rem;
    padding-left: 1rem;
}

.seller-app .app-search-form .search-input:focus {
    border-color: #e7e9ed;
}

.seller-app .app-search-form .search-btn {
    color: #828d9f;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    padding: 0.5rem 1rem;
}

.seller-app .app-search-form .search-btn:active,
.app-search-form .search-btn:focus,
.app-search-form .search-btn:hover {
    outline: none !important;
    color: #15a362;
    box-shadow: none;
}

.seller-app .app-utility-item {
    display: inline-block;
    margin-right: 1.25rem;
}

.seller-app .app-utility-item:last-child {
    margin-right: 0;
}

.seller-app .app-utility-item > a {
    color: #5d6778;
}

.seller-app .app-utility-item > a:hover {
    color: #252930;
}

.seller-app .app-utility-item .dropdown-toggle {
    position: relative;
}

.seller-app .app-utility-item .dropdown-menu {
    font-size: 0.875rem;
    margin: 0;
}

.seller-app .app-utility-item .dropdown-menu.show {
    top: 23px !important;
}

.seller-app .app-utility-item .icon {
    font-size: 1.25rem;
    width: 24px;
    height: 24px;
}

.seller-app .app-utility-item .icon-badge {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -0.45rem;
    top: -0.3rem;
    width: 20px;
    height: 20px;
    font-size: 0.6rem;
    font-weight: bold;
    padding-top: 1px;
    color: #fff;
    text-align: center;
}

.seller-app .app-utility-item .icon-badge.icon-badge {
    background: #ec776c;
    border: 2px solid #fff;
}

.seller-app .app-notifications-dropdown .dropdown-menu {
    width: 300px;
}

.seller-app .app-notifications-dropdown .dropdown-menu .dropdown-menu-header {
    border-bottom: 1px solid #e7e9ed;
}

.seller-app .app-notifications-dropdown .dropdown-menu .dropdown-menu-title {
    font-size: 1rem;
}

.seller-app .app-notifications-dropdown .dropdown-menu .profile-image {
    width: 36px;
    height: 36px;
}

.seller-app .app-notifications-dropdown .dropdown-menu .info {
    padding-right: 80px;
    position: relative;
}

.seller-app .app-notifications-dropdown .dropdown-menu .meta {
    color: #828d9f;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.75rem;
}

.seller-app .app-notifications-dropdown .dropdown-menu .dropdown-menu-footer {
    border-top: 1px solid #e7e9ed;
}

.seller-app .app-notifications-dropdown .dropdown-menu .item {
    min-width: 250px;
    position: relative;
    border-bottom: 1px solid #e7e9ed;
}

.seller-app .app-notifications-dropdown .dropdown-menu .item:last-child {
    border-bottom: none;
}

.seller-app .app-notifications-dropdown .dropdown-menu .item:hover {
    background: #f5f5f5;
}

.seller-app .app-notifications-dropdown .dropdown-menu .link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}

.seller-app .app-notifications-dropdown .app-icon-holder {
    display: inline-block;
    background: #edfdf6;
    color: #15a362;
    width: 36px;
    height: 36px;
    padding-top: 4px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
}

.seller-app .app-notifications-dropdown .app-icon-holder.icon-holder-mono {
    background: #f5f6fe;
    color: #828d9f;
}

.seller-app .app-notifications-dropdown .app-icon-holder svg {
    width: 20px;
    height: 20px;
}

.seller-app .app-user-dropdown {
    display: inline-block;
}

.seller-app .app-user-dropdown img {
    width: 36px;
    height: 36px;
}

@media (min-width: 576px) {
    .seller-app .app-notifications-dropdown .dropdown-menu {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .seller-app .app-header-inner {
        margin-left: 250px;
    }
}

@media (max-width: 575.98px) {
    .seller-app .search-mobile-trigger {
        cursor: pointer;
        -webkit-opacity: 0.8;
        -moz-opacity: 0.8;
        opacity: 0.8;
    }
    .seller-app .search-mobile-trigger:hover {
        color: #15a362;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
    .seller-app .app-search-box {
        display: none;
        position: absolute;
        left: 0;
        top: 56px;
        padding: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.4s ease-in-out;
    }
}

@media (max-width: 575.98px) and (prefers-reduced-motion: reduce) {
    .seller-app .app-search-box {
        transition: none;
    }
}

@media (max-width: 575.98px) {
    .seller-app .app-search-box .app-search-form .search-input {
        border-radius: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .seller-app .app-search-box .app-search-form .search-btn {
        top: 7px;
    }
}

@media (max-width: 575.98px) {
    .seller-app .app-search-box.is-visible {
        display: block;
    }
}

.seller-app .app-sidepanel {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 0.875rem;
    border-right: 1px solid #e7e9ed;
}

.seller-app .app-sidepanel .panel-drop {
    display: none;
}

.seller-app .app-sidepanel .sidepanel-inner {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 15px;
    width: 250px;
    height: 100%;
}

.seller-app .app-sidepanel .sidepanel-close {
    display: none;
    position: absolute;
    z-index: 20;
    right: -2rem;
    top: 0;
    color: #fff;
    font-size: 2rem;
}

.seller-app .app-sidepanel.sidepanel-hidden {
    left: -400px;
}

.seller-app .app-sidepanel.sidepanel-visible {
    left: 0;
}

.seller-app .app-sidepanel .app-nav-main {
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, 0.1) #e7e9ed;
    scrollbar-width: thin;
}

.seller-app .app-sidepanel .app-nav-main::-webkit-scrollbar {
    width: 6px;
    background-color: #e7e9ed;
}

.seller-app .app-sidepanel .app-nav-main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.seller-app .app-branding {
    height: 60px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.seller-app .app-branding .logo-icon {
    width: 36px;
    height: 36px;
}

.seller-app .app-branding .logo-text {
    color: #252930;
    font-size: 1.25rem;
    font-weight: 500;
    vertical-align: middle;
}

.seller-app .app-nav {
    color: #5d6778;
    display: block;
    padding: 0;
    width: 100%;
}

.seller-app .app-nav .app-menu {
    margin-bottom: 0;
}

.seller-app .app-nav .nav-item {
    display: block;
    color: #5d6778;
    background: #fff;
}

.seller-app .app-nav .nav-link {
    display: block;
    padding: 0.875rem 1rem;
    color: #252930;
    position: relative;
    display: block;
    padding-left: 3rem;
    border-left: 3px solid transparent;
}

.seller-app .app-nav .nav-link.active {
    color: #15a362;
    background: #edfdf6;
    border-left: 3px solid #15a362;
    font-weight: 500;
}

.seller-app .app-nav .nav-link.submenu-toggle.active {
    background: none;
    border-color: transparent;
}

.seller-app .app-nav .nav-link:hover {
    color: #15a362;
}

.seller-app .app-nav .nav-icon {
    position: absolute;
    left: 1rem;
    top: 0.7rem;
}

.seller-app .app-nav .nav-icon .bi {
    width: 1.25rem;
    height: 1.25rem;
}

.seller-app .app-nav .submenu-arrow {
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    color: #828d9f;
}

.seller-app .app-nav .submenu-arrow svg {
    width: 14px;
    height: 14px;
}

.seller-app .app-nav .submenu-toggle {
    transition: all 0.4s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .seller-app .app-nav .submenu-toggle {
        transition: none;
    }
}

.seller-app .app-nav .submenu-toggle[aria-expanded="true"] .submenu-arrow {
    color: #252930;
}

.seller-app .app-nav .submenu-toggle[aria-expanded="true"] .submenu-arrow svg {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.seller-app .app-nav .submenu-item {
    margin-bottom: 0;
}

.seller-app .app-nav .submenu-link {
    color: #5d6778;
    font-size: 0.875rem;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    position: relative;
    display: block;
    margin-bottom: 0;
}

.seller-app .app-nav .submenu-link:before {
    background-color: #e7e9ed;
    content: " ";
    display: inline-block;
    height: inherit;
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    margin-top: -0.5rem;
}

.seller-app .app-nav .submenu-link:hover {
    color: #252930;
}

.seller-app .app-nav .submenu-link.active {
    color: #15a362;
}

.seller-app .app-nav .submenu-link.active:before {
    background-color: #15a362;
}

.seller-app .app-sidepanel-footer {
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e7e9ed;
    background: #f5f6fe;
}

.seller-app .app-sidepanel-footer .app-nav-footer {
    margin-bottom: 0;
}

@media (max-width: 1199.98px) {
    .seller-app .app-sidepanel {
        transition: all 0.4s ease-in-out;
        left: -400px;
    }
}

@media (max-width: 1199.98px) and (prefers-reduced-motion: reduce) {
    .seller-app .app-sidepanel {
        transition: none;
    }
}

@media (max-width: 1199.98px) {
    .seller-app .app-sidepanel.sidepanel-visible {
        display: block;
    }
}

@media (max-width: 1199.98px) {
    .seller-app .sidepanel-visible .sidepanel-close {
        display: inline-block;
    }
}

@media (max-width: 1199.98px) {
    .seller-app .sidepanel-visible .sidepanel-drop {
        position: fixed;
        display: block;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        min-width: 100vw;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.35);
    }
}

@media (min-width: 1200px) {
    .seller-app .app-wrapper {
        margin-left: 250px;
    }
}

.seller-app .app {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: #f5f6fe;
    padding-top: 56px;
    overflow-x: hidden;
}

.seller-app .app-footer .copyrights {
    font-size: 0.8125rem;
}

.seller-app .app-wrapper {
    transition: all 0.4s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .seller-app .app-wrapper {
        transition: none;
    }
}

.seller-app .app-page-title {
    font-size: 1.5rem !important;
    /* font-weight: bolder !important; */
    margin-bottom: 1.5rem;
}

.seller-app .alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

  .app-card {
    position: relative;
    background: #fff;
    border-radius: 0.25rem;
}

.seller-app .app-card.border-left-decoration {
    border-left: 3px solid #15a362;
}

.seller-app .app-card .app-card-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}

.seller-app .app-card .app-card-header {
    border-bottom: 1px solid #e7e9ed;
}

.seller-app .app-card .app-card-title {
    font-size: 1.125rem;
    margin-bottom: 0;
}

.seller-app .app-card .card-header-action {
    font-size: 0.875rem;
}

.seller-app .app-card .card-header-action a:hover {
    text-decoration: underline;
}

.seller-app .app-card .form-select-holder {
    display: inline-block;
}

.seller-app .app-card .btn-close {
    padding: 1rem;
}

.seller-app .app-card .btn-close:focus {
    box-shadow: none;
}

.seller-app .app-card-stat {
    text-align: center;
}

.seller-app .app-card-stat .stats-type {
    font-size: 0.875rem;
    color: #828d9f;
    text-transform: uppercase;
}

.seller-app .app-card-stat .stats-figure {
    font-size: 2rem;
    color: #252930;
}

.seller-app .app-card-stat .stats-meta {
    font-size: 0.875rem;
    color: #828d9f;
}

.seller-app .app-card-progress-list .item {
    position: relative;
    border-bottom: 1px solid #e7e9ed;
}

.seller-app .app-card-progress-list .item:hover .title {
    color: #252930;
}

.seller-app .app-card-progress-list .item:last-child {
    border: none;
}

.seller-app .app-card-progress-list .item .title {
    font-size: 0.875rem;
    font-weight: 500;
}

.seller-app .app-card-progress-list .item .meta {
    font-size: 0.875rem;
    color: #828d9f;
}

.seller-app .app-card-progress-list .item-link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}

.seller-app .app-card-progress-list .progress {
    height: 0.5rem;
}

.seller-app .app-card-stats-table .table {
    font-size: 0.875rem;
}

.seller-app .app-card-stats-table .meta {
    color: #828d9f;
    font-weight: 500;
    font-size: 0.875rem;
}

.seller-app .app-card-stats-table .stat-cell {
    text-align: right;
}

.seller-app .app-card-basic {
    height: 100%;
}

.seller-app .app-card-basic .title {
    font-size: 1rem;
}

  .app-card .app-icon-holder {
    display: inline-block;
    background: #edfdf6;
    color: #15a362;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
}

.seller-app .app-card .app-icon-holder.icon-holder-mono {
    background: #f5f6fe;
    color: #828d9f;
}

.seller-app .app-card .app-icon-holder svg {
    width: 24px;
    height: 24px;
}

.seller-app .app-card .app-card-body.has-card-actions {
    position: relative;
    padding-right: 1rem !important;
}

.seller-app .app-card .app-card-body .app-card-actions {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    right: 0.75rem;
    top: 0.75rem;
}

.seller-app .app-card .app-card-body .app-card-actions:hover {
    background: #f5f6fe;
}

.seller-app .app-card .app-card-body .app-card-actions .dropdown-menu {
    font-size: 0.8125rem;
}

.seller-app .app-card-doc:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.seller-app .app-card-doc .app-card-thumb-holder {
    background: #e9eaf1;
    text-align: center;
    position: relative;
    height: 112px;
}

.seller-app .app-card-doc .app-card-thumb-holder .app-card-thumb {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.seller-app .app-card-doc .app-card-thumb-holder .thumb-image {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    width: 100%;
    height: auto;
}

.seller-app .app-card-doc .app-card-thumb-holder:hover {
    background: #fafbff;
}

.seller-app .app-card-doc .app-card-thumb-holder:hover .thumb-image {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.seller-app .app-card-doc .app-card-thumb-holder .badge {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder {
    font-size: 40px;
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    padding-top: 10px;
}
.seller-app .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder .pdf-file {
    color: #da2d27;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder .text-file {
    color: #66a0fd;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder .excel-file {
    color: #0da95f;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder .ppt-file {
    color: #f4b400;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder .video-file {
    color: #935dc1;
}

.seller-app .app-card-doc .app-card-thumb-holder .icon-holder .zip-file {
    color: #252930;
}

.seller-app .app-card-doc .app-doc-title {
    font-size: 0.875rem;
}

.seller-app .app-card-doc .app-doc-title a {
    color: #252930;
}

.seller-app .app-card-doc .app-doc-title.truncate {
    max-width: calc(100% - 30px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.seller-app .app-card-doc .app-doc-meta {
    font-size: 0.75rem;
}

.seller-app .table-search-form .form-control {
    height: 2rem;
    min-width: auto;
}

.seller-app .app-dropdown-menu {
    font-size: 0.875rem;
}

.seller-app .app-card-orders-table .table {
    font-size: 0.875rem;
}

.seller-app .app-card-orders-table .table .cell {
    border-color: #e7e9ed;
    color: #5d6778;
    vertical-align: middle;
    font-weight: 400;
}

.seller-app .app-card-orders-table .cell span {
    display: inline-block;
}

.seller-app .app-card-orders-table .cell .note {
    display: block;
    color: #828d9f;
    font-size: 0.75rem;
}

.seller-app .app-card-orders-table .btn-sm,
.app-card-orders-table .btn-group-sm > .btn {
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
}

.seller-app .app-card-orders-table .truncate {
    max-width: 250px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.seller-app .app-nav-tabs {
    background: #fff;
    padding: 0;
}

.seller-app .app-nav-tabs .nav-link {
    color: #5d6778;
    font-size: 0.875rem;
    font-weight: 500;
}

.seller-app .app-nav-tabs .nav-link.active {
    color: #15a362;
    border-bottom: 2px solid #15a362;
}

.seller-app .app-nav-tabs .nav-link.active:hover {
    background: none;
}

.seller-app .app-nav-tabs .nav-link:hover {
    background: #edfdf6;
    color: #15a362;
}

.seller-app .app-pagination .pagination {
    font-size: 0.875rem;
}

.seller-app .app-pagination .pagination .page-link {
    color: #5d6778;
    padding: 0.25rem 0.5rem;
}

.seller-app .app-pagination .pagination .page-item.active .page-link {
    background: #747f94;
    color: #fff;
    border-color: #747f94;
}

.seller-app .app-pagination .pagination .page-item.disabled .page-link {
    color: #9fa7b5;
}

.seller-app .app-card-accordion .app-card-title {
    font-size: 1.125rem;
}

.seller-app .app-card-accordion .faq-accordion .accordion-item {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e7e9ed;
}

.seller-app .app-card-accordion .faq-accordion .accordion-item:last-child {
    border-bottom: none;
}

.seller-app .app-card-accordion .faq-accordion .accordion-header {
    border: none;
}

.seller-app .app-card-accordion .faq-accordion .accordion-button {
    padding: 1rem;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
    padding-left: 0;
    font-size: 1rem;
    text-decoration: none;
    color: #15a362;
}

.seller-app .app-card-accordion .faq-accordion .accordion-button:after {
    display: none;
}

.seller-app .app-card-accordion .faq-accordion .accordion-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: 1rem;
}

.seller-app .app-card-account {
    height: 100%;
}

.seller-app .app-card-account .item {
    font-size: 0.875rem;
}

.seller-app .app-card-account .item .profile-image {
    width: 60px;
    height: 60px;
}

.seller-app .app-card-account .item .btn-sm,
.app-card-account .item .btn-group-sm > .btn {
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
}

.seller-app .settings-section .section-title {
    font-size: 1.25rem;
}

.seller-app .settings-section .section-intro {
    font-size: 0.875rem;
}

.seller-app .app-card-settings {
    font-size: 1rem;
}

.seller-app .app-card-settings .form-label {
    font-weight: 500;
}

.seller-app .app-card-settings .form-control {
    font-size: 1rem;
}

.seller-app .app-404-page {
    padding-top: 2rem;
}

.seller-app .app-404-page .page-title {
    font-size: 3rem;
    line-height: 0.8;
    font-weight: bold;
}

.seller-app .app-404-page .page-title span {
    font-size: 1.5rem;
}

.seller-app .chart-container {
    position: relative;
}

.seller-app .app-table-hover > tbody > tr:hover {
    background-color: #fafbff;
}

.seller-app .app-card-notification .notification-type .badge {
    font-size: 0.65rem;
    text-transform: uppercase;
}

.seller-app .app-card-notification .profile-image {
    width: 60px;
    height: 60px;
}

.seller-app .app-card-notification .notification-title {
    font-size: 1.125rem;
}

.seller-app .app-card-notification .notification-content {
    font-size: 0.875rem;
}

.seller-app .app-card-notification .notification-meta {
    font-size: 0.75rem;
    color: #828d9f;
}

.seller-app .app-card-notification .action-link {
    font-size: 0.875rem;
}

.seller-app .app-card-notification .app-card-footer {
    background: #fafbff;
}

@media (min-width: 1200px) {
    .seller-app .table-search-form .form-control {
        min-width: 300px;
    }
}

@media (max-width: 575.98px) {
    .seller-app .app-card-stat .stats-figure {
        font-size: 1.125rem;
    }
    .seller-app .app-card-stat .stats-type {
        font-size: 0.75rem;
    }
}

.seller-app .app-login .auth-background-holder {
    background: url("../images/background/background-1.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
}

.seller-app .app-signup .auth-background-holder {
    background: url("../images/background/background-2.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
}

.seller-app .app-reset-password .auth-background-holder {
    background: url("../images/background/background-3.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 100%;
}

.seller-app .auth-main-col,
.auth-background-col {
    position: relative;
}

.seller-app .auth-background-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
}

.seller-app .auth-background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
}

.seller-app .auth-background-overlay .overlay-title {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.seller-app .auth-background-overlay .overlay-content {
    background: rgba(37, 41, 48, 0.6);
    color: #fff;
}

.seller-app .auth-background-overlay .overlay-content a {
    text-decoration: underline;
    color: #fff;
}

.seller-app .app-auth-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.seller-app .app-auth-wrapper {
    background: #fff;
    height: 100vh;
}

.seller-app .app-auth-wrapper .app-auth-body {
    width: 360px;
}

.seller-app .app-auth-wrapper .app-logo .logo-icon {
    width: 60px;
    height: 60px;
}

.seller-app .app-auth-wrapper .auth-heading {
    font-size: 1.5rem;
}

.seller-app .app-auth-wrapper .form-control::-webkit-input-placeholder {
    color: #828d9f;
}

.seller-app .app-auth-wrapper .form-control:-moz-placeholder {
    color: #828d9f;
}

.seller-app .app-auth-wrapper .form-control::-moz-placeholder {
    color: #828d9f;
}

.seller-app .app-auth-wrapper .form-control:-ms-input-placeholder {
    color: #828d9f;
}

.seller-app .app-auth-wrapper .legal-note {
    font-size: 0.875rem;
}

.seller-app .app-auth-wrapper .extra {
    font-size: 0.75rem;
}

.seller-app .app-auth-wrapper .extra a {
    text-decoration: underline;
    color: #828d9f;
}

.seller-app .app-auth-wrapper .extra a:hover {
    color: #5d6778;
}

.seller-app .app-auth-wrapper .auth-heading-desc {
    font-weight: 500;
    font-size: 1.125rem;
}

.seller-app .app-auth-wrapper .legal-note {
    font-size: 0.75rem;
}

.seller-app .app-auth-wrapper .auth-option {
    font-size: 0.875rem;
}

.seller-app .app-auth-footer .copyright {
    font-size: 0.75rem;
}

@media (max-width: 767.98px) {
    .seller-app .auth-background-col {
        display: none;
    }
    .seller-app .app-auth-wrapper .app-auth-body {
        width: 100%;
    }
}


